body {
    background-image: url("imgs/fundoGeren.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#tudo {
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin: auto;
    background: rgb(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    padding: 30px;
}
header {
    text-align: center;
}
.exibe {
    width: 280px;
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
}
#corpo {
    width: 525px;
    float: right;
}
#menu {
    float: left;
}
.btn_categorias {
    width: 195px;
    margin: 5px;
}
textarea {
    overflow: hidden;
    height: 100%;
}
#formCorpo label, #login label{
    float: left !important;
}
#login{
    margin: auto !important;
    width: 450px;
}
#olho:hover{
    cursor: pointer;
}
.imgNot {
    width: 47%;
    height: 47%;
    margin: 5px;
}
